
<div class="container-fluid py-4"  style="min-height:100vh !important;">


    <div class="row">

        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>causes table</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">testimonial number </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">username</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">paragraph</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">rate</th>

                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of home.testimonials">

                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{obj.testimonialid}}</p>

                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{obj.firstname}} {{obj.lastname}}</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-success">{{obj.paragraph}}</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-success">{{obj.rate}}</span>
                                    </td>

                                    <td class="align-middle">
                                        <button type="button" (click)="updatetestimonial(obj.testimonialid)" class="btn bg-gradient-primary btn-sm me-2">accept</button>

                                        <button type="button" (click)="deletetestimonial(obj.testimonialid)" class="btn bg-gradient-primary btn-sm me-2">reject</button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
