<div id="body" class="g-sidenav-show  bg-gray-100  ">

    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3  " style="overflow: hidden;z-index: 800;" id="sidenav-main">
      <app-headerandfooter></app-headerandfooter>
    </aside>


    <app-sidebar></app-sidebar>



 <main class="main-content position-relative min-height-100  border-radius-lg " style="min-height:100vh !important;">


  <div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6 class="h">causes table</h6>
                    <i class="fa fa-plus-square btnn" (click)="createcause()"></i>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="xx z">image</th>
                                    <th class="xx z">cause name</th>
                                    <th class="xx z">cause description</th>
                                    <th class="xx z">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of admin.causes">

                                    <td>
                                        <div class="xx">
                                            <div>
                                                <img src="../../../assets/img/{{obj.categoryimage}}" class="avatar avatar-sm me-3" alt="user1">
                                            </div>

                                        </div>
                                    </td>
                                    <td>
                                        <p class="xx">{{obj.categoryname}}</p>
                                    </td>
                                    <td class="xx" style="width: 300px;"> {{obj.categoryDesc}}
                                    </td>

                                    <td class="xx ii">
                                        <i class="fa fa-edit i" (click)="updatefunction(obj)" ></i>
                                        <i class="fa fa-trash-alt i" (click)="DeleteFun(obj.categoryid)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <app-footer></app-footer>
 </main>
</div>

 <ng-template #callDeleteDialog>
  <h3>Are you Sure?</h3>
  <button mat-dialog-close="yes" type="button" class="btn bg-gradient-primary btn-sm me-2">yes</button>
  <button mat-dialog-close="no" type="button" class="btn bg-gradient-primary btn-sm me-2">no</button>
</ng-template>


<ng-template #callUpdateDialog>
  <section>
      <div class="container py-4">
          <div class="row">
              <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
                  <h3 class="text-center"></h3>
                  <form [formGroup]="updateForm" role="form" id="contact-form" method="post" autocomplete="off">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-md-6">
                                  <mat-label>cause name </mat-label>
                                  <div class="input-group mb-4">
                                      <input class="form-control" matInput formControlName="categoryname" [(ngModel)]="p_data.categoryname" type="text"><br>

                                  </div>
                              </div>
                              <div class="mb-4 ">
                                  <label>cause image</label>
                                  <div class="input-group ">
                                      <input type="file" formControlName="categoryimage" #file (change)="uploadFile(file.files)" [(ngModel)]="p_data.categoryimage" class="form-control">
                                      <br>
                                    </div>
                              </div>
                              <div class="col-md-6 ps-2 ">

                                  <mat-label>cause description</mat-label>
                                  <div class="input-group ">
                                      <input type="text" matInput formControlName="categoryDesc" [(ngModel)]="p_data.categoryDesc" class="form-control">
                                      <br>
                                  </div>
                              </div>

                              <div class="col-md-6 ps-2 ">

                                  <mat-label>cause paragraph</mat-label>
                                  <div class="input-group ">
                                      <input type="text" matInput formControlName="categoryParagraph" [(ngModel)]="p_data.categoryParagraph" class="form-control">
                                      <br>
                                  </div>
                              </div>
                          </div>

<br><br>
                          <div class="row ">
                              <div class="col-md-12 ">
                                  <button type="submit" class="btn bg-gradient-dark w-100 " (click)="updatecause()">update cause</button>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section>
</ng-template>
