<div id="body" class="g-sidenav-show  bg-gray-100  ">

    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3  " id="sidenav-main" style="overflow: hidden;">
        <app-headerandfooter></app-headerandfooter>
    </aside>






    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <app-sidebar></app-sidebar>
        <div class="container-fluid py-4" style="overflow: hidden;">

            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header pb-0">
                            <h6 class="h">All Users</h6>
                            <div class="btnn">
                                <i class="fa fa-print i" (click)="printPage()"></i>
                                <i class="fa fa-download i" (click)="DownloadData()"></i>
                            </div>
                        </div>
                        <div class="card-body px-0 pt-0 pb-2">
                            <!-------------  //  -->
                            <div class="table-responsive p-0">
                                <section>
                                    <div class="container">
                                        <div class="row justify-space-between py-2">
                                            <div class="col-lg-12 mx-auto">
                                                <form [formGroup]="searchForm">
                                                    <div class="row">
                                                        <div class="col-3" style="position: relative;">
                                                            <span class="ins">Name</span>
                                                            <input type="text" matInput formControlName="name" placeholder="enter name" class="in" />
                                                        </div>

                                                        <div class="col-3">
                                                            <input type="button" value="Search" (click)="searchindoniation()" class="btn btn-success" />
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <table style="width: 100%;" id="my-table">
                                    <thead>
                                        <tr>
                                            <th class="xx z">First Name</th>
                                            <th class="xx z">Last Name
                                            </th>
                                            <th class="xx z">Username
                                            </th>
                                            <th class="xx z">Email</th>
                                            <th class="xx z"> Gender</th>
                                            <th class="xx z">
                                                Phone Number</th>
                                            <th class="xx z">
                                                User Image</th>
                                            <th class="xx z">
                                                Type</th>
                                            <th class="xx z">
                                                Blocked</th>





                                            <!-- <th></th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let obj of admin.allusersinnerRole">

                                            <td>
                                                <p class="xx">{{obj.firstname}}</p>
                                            </td>
                                            <td>
                                                <p class="xx">{{obj.lastname}} </p>
                                            </td>
                                            <td>
                                                <p class="xx">{{obj.username}}</p>
                                            </td>
                                            <td>
                                                <p class="xx">{{obj.email}}</p>
                                            </td>
                                            <td>
                                                <p class="xx">{{obj.gender}} </p>
                                            </td>
                                            <td>
                                                <p class="xx">{{obj.phonenumber}} </p>
                                            </td>

                                            <!-- {{obj.isaccepted}} -->
                                            <td>
                                                <img src="../assets/img/{{obj.imagepath}}" height="50px" width="50px" />
                                            </td>
                                            <td>
                                                <p class="xx" id="role">{{obj.rolename}} </p>
                                            </td>
                                            <td>
                                                <i class="fa fa-ban button" (click)="blockUser(obj.userid)"></i>
                                            </td>
                                            <!-- <td class="align-middle">
                    <button class="btn btn-link text-secondary mb-0">
                      <i class="fa fa-ellipsis-v text-xs"></i>
                    </button>
                  </td> -->
                                        </tr>




                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <app-footer></app-footer>
        </div>

    </main>



    <ng-template #SureBlock>
        <section>
            <div class="container py-4">
                <div class="row">
                    <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
                        <h3 class="text-center">Change Password</h3>
                        <button class="btn tb-danger" (click)="doneBlock()">Yes</button>
                        <button class="btn tb-danger">No</button>

                    </div>
                </div>
            </div>
        </section>
    </ng-template>