<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <app-navbar></app-navbar>
        </div>
    </div>
  </div>
  
  
  
  <header class="header-2" style="position: relative;">
    <div style="    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;">
                                <h1 class="text-black" style="    font-size: 47px;
                                color: #ffffff;
                                letter-spacing: 5px;
                                font-family: math;
                                font-weight: 600;">Reviw</h1>
  
  </div>
    <div class="page-header min-vh-75 relative" style="background-image: url('../assets/img/{{admin.homeInformation[0].imagepath2}}')">
        <div class="container">
  
            <div class="row">
                <div class="col-lg-7 text-center mx-auto">
  
                </div>
            </div>
        </div>
  
        <div class="position-absolute w-100 z-index-1 bottom-0">
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
              <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="moving-waves">
              <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
              <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
              <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
              <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
              <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
              <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
            </g>
          </svg>
        </div>
    </div>
  </header>
  
  <div class="col-md-12 mt-7" style="align-content: center; margin:auto; margin-left: 200; ">
      <div  >
          <div class="card-header pb-0 px-3">
              <div *ngIf="home.contact  !== null">
                  <br>
              </div>
          </div>
          <div class="card-body pt-4 p-3 " style="max-height: 150vh; overflow:scroll;">
             <div class="row">
                <div class="col-md-6" *ngFor="let obj of home.reviews ">
                  <ul class="list-group"  style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;margin-bottom: 5px;">
                    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                        <div class="d-flex flex-column">
  
                            <span class="mb-2 text-xs font-weight-bold">Name: <span class="text-dark font-weight-bold ms-sm-2 font-weight-normal">{{obj.firstname}} {{obj.lastname}}</span></span>
                            <span class="mb-2 text-xs font-weight-bold">Username: <span class="text-dark ms-sm-2 font-weight-normal">{{obj.username}}</span></span>
                            <span class="mb-2 text-xs font-weight-bold">Email: <span class="text-dark ms-sm-2 font-weight-normal">{{obj.email}}</span></span>
  
  
  
                            <span class="text-xs font-weight-bold">Review: <span class="text-dark ms-sm-2 font-weight-normal">{{obj.paragraph}}</span></span>
                        </div>
                        <div class="ms-auto text-end" style="justify-content: center; display: flex;  align-items: center;">
  
                        </div>
                    </li>
                </ul>
                </div>
             </div>
  
          </div>
      </div>
  </div>
  <app-footer></app-footer>
  