<body class="">
    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>
    <main class="main-content  mt-0">
        <section>
            <div class="page-header min-vh-75">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                            <div class="card card-plain mt-8">
                                <div class="card-header pb-0 text-left bg-transparent">
                                    <h3 class="font-weight-bolder text-info text-gradient">Welcome back</h3>
                                    <p class="mb-0">Enter your email and password to sign in</p>
                                </div>
                                <div class="card-body">
                                    <form method="post" [formGroup]="LoginForm">
                                        <label>Email</label>
                                        <div class="mb-3">
                                            <input type="text" class="form-control" placeholder="Email" matInput formControlName="email" aria-describedby="email-addon" >
                                            <mat-error *ngIf="LoginForm.controls['email'].hasError('required')" style="font-size: 12px;">Email name is required</mat-error>
                                            <mat-error *ngIf="LoginForm.controls['email'].hasError('email')" style="font-size: 12px;"> Enter Email Valid required</mat-error>

                                            
                        
                                          </div>
                                          <div class="mb-3">
                                            <input [type]="showPassword ? 'text' : 'password'"
                                            class="form-control"  placeholder="password" id="password-field" matInput formControlName="password"  aria-label="Name" aria-describedby="email-addon" >
                                            <mat-error *ngIf="LoginForm.controls['password'].hasError('required')" style="font-size: 12px;">Password is required</mat-error>
                        
                                          </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" (change)="showPass()" type="checkbox">
                                            <label class="form-check-label">Show Password</label>
                                        </div>

                                    </form>
                                    <div class="text-center">
                                        <input type="submit" (click)="submit()" [disabled]="!LoginForm.valid"
                                            class="btn bg-gradient-info w-100 mt-4 mb-0">
                                    </div>
                                </div>
                                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                    <p class="mb-4 text-sm mx-auto">
                                        Don't have an account?
                                        <a routerLink="/Register" class="text-info text-gradient font-weight-bold">Sign up</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                                    style="background-image:url('../assets/img/IMG_2393.jpg')"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <footer class="footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-6 mx-auto text-center" style="justify-content: center;">
                    <a routerLink="" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Home
                    </a>
                    <a routerLink="/about" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        About Us
                    </a>
                    <a routerLink="/contact" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Contact
                    </a>
                    <a routerLink="/causes" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                        Causes
                    </a>
                    
                </div>
  
            </div>
            <div class="row">
                <div class="col-8 mx-auto text-center mt-1">
                    <p class="mb-0 text-secondary">
                        Copyright ©
                        <script>
                            
                        </script> Charity Platform.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    
    
    
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    
    <script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.6"></script>
</body>