<nav class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
    <div class="container-fluid px-0">
        <a class="navbar-brand font-weight-bolder ms-sm-3" routerLink="/">
          Benevolent Hand
      </a>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
        <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-lg-12 ps-lg-5">

                <!-------------------------->
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" routerLink="/benefactor/main" id="dropdownMenuBlocks" data-bs-toggle="dropdown" aria-expanded="false">
              Home
  
            </a>

                </li>
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" routerLink="/benefactor/wallet" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
                Wallet
      </a>

                </li>

                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" routerLink="/benefactor/about" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>

                </li>
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" routerLink="/benefactor/allcauses" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
              Causes
            </a>

                </li>

                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" routerLink="/benefactor/testimonial" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
                  Feedback
        </a>

                </li>
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" routerLink="/benefactor/reviews" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
                Reviews
      </a>

                </li>
                <li class="nav-item ms-lg-auto">

                </li>
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" href="javascript:;" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="fa fa-user me-sm-1"></span>
                        <img src="./assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                    </a>
                    <div class="dropdown-menu dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages">
                        <div class="d-none d-lg-block">
                            <div class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center px-0">
                                <div class="d-inline-block">

                                </div>
                                <p>
                                    <span class="fa fa-user me-sm-1"></span> My Information
                                </p>
                            </div>

                            <a routerLink="/benefactor/profile" class="dropdown-item border-radius-md">
                                <span class="ps-3">Profile & More</span>
                            </a>

                            <a (click)="logout()" class="dropdown-item border-radius-md">
                                <span class="ps-3">Logout</span>
                            </a>
                            <!-----------
  <a href="./pages/author.html" class="dropdown-item border-radius-md">
    <span class="ps-3">Author</span>
  </a>---->

                        </div>



                    </div>
                </li>
                <!-------------------------------------->


            </ul>
        </div>
    </div>
</nav>

<!-- End Navbar -->