
<div id="body" class="g-sidenav-show  bg-gray-100  ">

    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3  " id="sidenav-main" style="overflow: hidden;">
        <app-headerandfooter></app-headerandfooter>
    </aside>






    <main class="main-content position-relative   h-100 border-radius-lg ">
        <app-sidebar></app-sidebar>
        <div class="container-fluid py-4" style="overflow: hidden;">

            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header pb-0">
                            <h6 class="h">All Testimonial</h6>
                            <div class="btnn">
                                <i class="fa fa-print i" (click)="printPage()"></i>
                                <i class="fa fa-download i" (click)="DownloadData()"></i>
                            </div>
                        </div>
                        <div class="card-body px-0 pt-0 pb-2">
                            <!-------------  //  -->
                            <div class="table-responsive p-0">
                                <section>
                                    <div class="container">
                                        <div class="row justify-space-between py-2">
                                            <div class="col-lg-12 mx-auto">

                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <table style="width: 100%;" id="my-table">
                                    <thead>
                                        <tr>
                                            <th class="xx z">First Name</th>
                                            <th class="xx z">Last Name
                                            </th>
                                            <th class="xx z">Testimonial
                                            </th>
                                            <th class="xx z">Rate</th>

                                            <th class="xx z">
                                                Action</th>





                                            <!-- <th></th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let obj of home.testimonials">

                                            <td>
                                                <p class="xx">{{obj.firstname}}</p>
                                            </td>
                                            <td>
                                                <p class="xx">{{obj.lastname}} </p>
                                            </td>
                                            <td>
                                                <p class="xx">{{obj.paragraph}}</p>
                                            </td>
                                            <td>
                                                <p class="xx"> {{obj.rate}}</p>
                                            </td>


                                            <td style="display: flex;justify-content: center;">
                                                <button type="button" (click)="updatetestimonial(obj.testimonialid)" class="btn bg-gradient-primary btn-sm me-2">accept</button>

                                                <button type="button" (click)="deletetestimonial(obj.testimonialid)" class="btn bg-gradient-primary btn-sm me-2">reject</button>

                                            </td>
                                            <!-- <td class="align-middle">
                    <button class="btn btn-link text-secondary mb-0">
                      <i class="fa fa-ellipsis-v text-xs"></i>
                    </button>
                  </td> -->
                                        </tr>




                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <app-footer></app-footer>
        </div>

    </main>
































