<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <app-navbar></app-navbar>
            <!-- End Navbar -->
        </div>
    </div>
</div>
<section class="py-lg-7">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card overflow-hidden mb-5">
                    <div class="row">
                        <div class="col-lg-7">
                            <form class="p-3" id="contact-form" method="post">
                                <div class="card-header px-4 py-sm-5 py-3">
                                    <h2>Say Hi!</h2>
                                    <p class="lead"> We'd like to talk with you.</p>
                                </div>
                                <div class="card-body pt-1">
                                    <div class="row">
                                        <div class="col-md-12 pe-2 mb-3">
                                            <label>upload the benficiary form after you fill it</label>
                                            <input class="form-control" type="file" placeholder="Full Name">
                                        </div>
                                        <div class="col-md-12 pe-2 mb-3">
                                            <label>upload a file of your bank statement</label>
                                            <input class="form-control" type="file" placeholder="What you love">
                                        </div>
                                        <div class="col-md-12 pe-2 mb-3">
                                            <label>upload a file of govermintal oficcial statment of need</label>
                                            <input class="form-control" type="file" placeholder="What you love">
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 text-end ms-auto">
                                            <button type="submit" class="btn btn-round bg-gradient-info mb-0">send files</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-5 position-relative bg-cover px-0" style="background-image: url('../assets/img/curved-images/curved5.jpg')">
                            <div class="position-absolute z-index-2 w-100 h-100 top-0 start-0 d-lg-block d-none">
                            </div>
                            <div class="z-index-2 text-center d-flex h-100 w-100 d-flex m-auto justify-content-center">
                                <div class="mask bg-gradient-info opacity-9"></div>
                                <div class="p-5 ps-sm-8 position-relative text-start my-auto z-index-2">
                                    <h3 class="text-white">beneficiary documents</h3>
                                    <p class="text-white opacity-8 mb-4">in order to be acctepted to show up for people to donations you have to provide us with your documents and we will look into them and let you know if you have been accepted or not , best of luck :)</p>
                                    <div class="d-flex p-2 text-white">
                                        <div>
                                            <i class="fas fa-phone text-sm"></i>
                                        </div>
                                        <div class="ps-3">
                                            <span class="text-sm opacity-8">(+40) 772 100 200</span>
                                        </div>
                                    </div>
                                    <div class="d-flex p-2 text-white">
                                        <div>
                                            <i class="fas fa-envelope text-sm"></i>
                                        </div>
                                        <div class="ps-3">
                                            <span class="text-sm opacity-8">hello@creative-tim.com</span>
                                        </div>
                                    </div>
                                    <div class="d-flex p-2 text-white">
                                        <div>
                                            <i class="fas fa-map-marker-alt text-sm"></i>
                                        </div>
                                        <div class="ps-3">
                                            <span class="text-sm opacity-8">Dyonisie Wolf Bucharest, RO 010458</span>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <button type="button" class="btn btn-icon-only btn-link text-white btn-lg mb-0" data-toggle="tooltip" data-placement="bottom" data-original-title="Log in with Facebook">
                        <i class="fab fa-facebook"></i>
                      </button>
                                        <button type="button" class="btn btn-icon-only btn-link text-white btn-lg mb-0" data-toggle="tooltip" data-placement="bottom" data-original-title="Log in with Twitter">
                        <i class="fab fa-twitter"></i>
                      </button>
                                        <button type="button" class="btn btn-icon-only btn-link text-white btn-lg mb-0" data-toggle="tooltip" data-placement="bottom" data-original-title="Log in with Dribbble">
                        <i class="fab fa-dribbble"></i>
                      </button>
                                        <button type="button" class="btn btn-icon-only btn-link text-white btn-lg mb-0" data-toggle="tooltip" data-placement="bottom" data-original-title="Log in with Instagram">
                        <i class="fab fa-instagram"></i>
                      </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>