<div class="row" style="justify-content: center;">
  <div class="col-md-6 col-sm-7" style="box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  margin: 32px;
  padding: 23px;
  border-radius: 5px;">
    <h2 mat-dialog-title style="    text-align: center; font-family: fangsong;  font-weight: bolder; font-size: 32px;">
      Create Charity</h2>
    <hr
      style="height: 2px;margin: 30px 0px; width: 100%; background-color: #000;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="CreateForm" style="width: 100%;">

        <!-- <div class="col-12  ">
              <label>Goal</label>
              <input type="number"  min="1" (change)="matchError()" required class="input" matInput formControlName="goal">

              <label  class="error"  *ngIf="CreateForm.controls['goal'].hasError('required')">
                goal is <strong>required</strong>
              </label>
            </div> -->


        <br>
        <div class="col-12">
          <label>Document</label>
          <input class="input" required type="file" #filEe (change)="uploadFileabout1(filEe.files)"
            formControlName="docidFk">
          <label class="error" *ngIf="CreateForm.controls['docidFk'].hasError('required')">
            Document is <strong>required</strong>
          </label>
        </div>
        <br>
        <div class="col-12">
          <label>Charity Name</label>
          <input class="input" required type="text" matInput formControlName="charityname">
          <label class="error" *ngIf="CreateForm.controls['charityname'].hasError('required')">
            Charity Name is <strong>required</strong>
          </label>
        </div>
        <br>
        <div class="col-12">
          <label>Email</label>
          <input class="input" required type="email" matInput formControlName="email">
          <label class="error"
            *ngIf="CreateForm.controls['email'].hasError('required') || CreateForm.controls['email'].hasError('email')">
            Email is <strong>required</strong>
          </label>
        </div>
        <br>
        <!-- <div class="col-12">
                <label>Number Donation</label>
                <input class="input" min="1" required type="number" matInput formControlName="numdonation">
                  <label  class="error"  *ngIf="CreateForm.controls['numdonation'].hasError('required')">
                  Numdonation is <strong>required</strong>
                </label>
              </div> -->
        <br>
        <div class="col-12">
          <label>Category</label>
          <select class="input" required formControlName="categoryidFk">
            <option *ngFor="let option of beneficiary.category" [value]="option.categoryid">{{ option.categoryname }}
            </option>
          </select>
          <label class="error" *ngIf="CreateForm.controls['balance'].hasError('required')">
            Category is <strong>required</strong>
          </label>
        </div>
        <!-- <br>
              <div class="col-12">
                <label>Balance</label>
                <input class="input" min="1" required type="number" matInput formControlName="balance">
                 <label  class="error"  *ngIf="CreateForm.controls['balance'].hasError('required')">
                  Balance is <strong>required</strong>
                </label>
              </div> -->
        <br>
        <div class="col-12">
          <label>Image</label>
          <input class="input" required type="file" formControlName="imagepath" #file (change)="uploadFile(file.files)">
          <label class="error" *ngIf="CreateForm.controls['imagepath'].hasError('required')">
            Image is <strong>required</strong>
          </label>
        </div>

      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <div style="margin-top: 30px;">
        <button style="    margin: 33px 32px 0 0;"
          class="btn btn-sm btn-outline-primary btn-round mb-0 me-1 mt-2 mt-md-0" mat-button
          mat-dialog-close>Cancel</button>
        <button style="    margin: 33px 32px 0 0;"
          class="btn btn-sm btn-outline-primary btn-round mb-0 me-1 mt-2 mt-md-0" mat-button [mat-dialog-close]="true"
          cdkFocusInitial (click)="SaveDate()">Save</button>

      </div>
    </mat-dialog-actions>

  </div>
</div>