

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent mt-4">
    <div class="container">
      <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 text-white" href="../pages/dashboard.html">
      </a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        
      </button>
      <div class="collapse navbar-collapse" id="navigation">
        
      
   
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <main class="main-content  mt-0">
    <section class="min-vh-100 mb-8">
      <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('../assets/img/Charity.jpg');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5 text-center mx-auto">

            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mt-lg-n10 mt-md-n11 mt-n10">
          <div class="col-xl-8 col-lg-5 col-md-7 mx-auto">
            <div class="card z-index-0">
              <div class="card-header text-center pt-4">
           
              </div>
              <div class="row px-xl-5 px-sm-4 px-3">
            
            
                <div class="mt-2 position-relative text-center">
                  <p class="text-sm font-weight-bold mb-2 text-secondary text-border d-inline z-index-2 bg-white px-3">
                    Welcome People !
                  </p>
                </div>
              </div>              

              <div class="card-body" >
                <mat-dialog-content >
                <form role="form text-left" [formGroup]="register">
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="First Name" matInput formControlName="firstname" aria-describedby="email-addon" >
                    <mat-error *ngIf="register.controls['firstname'].hasError('required')">first name is <strong>required</strong></mat-error>
                    

                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Last Name" matInput formControlName="lastname"  aria-label="Name" aria-describedby="email-addon" >
                    <mat-error *ngIf="register.controls['lastname'].hasError('required')">last name is <strong>required</strong></mat-error>

                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="username" matInput formControlName="username"  aria-label="Name" aria-describedby="email-addon">
                    <mat-error *ngIf="register.controls['username'].hasError('required')">username is <strong>required</strong></mat-error>

                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Phone Number" matInput formControlName="phonenumber"  aria-label="Name" aria-describedby="email-addon">
                    <mat-error *ngIf="register.controls['phonenumber'].hasError('required')">Phonenumber is <strong>required</strong></mat-error>

                  </div>
                  <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Email" aria-label="Email" (change)="checkAvailable()" matInput formControlName="email" aria-describedby="email-addon">
                    <mat-error *ngIf="register.controls['email'].hasError('email')" ></mat-error>
                    <mat-error *ngIf="register.controls['email'].hasError('required')">Email is <strong>required</strong></mat-error>
                  </div>
                  <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Password" matInput formControlName="password" aria-label="Password" aria-describedby="password-addon" >
                    <mat-error *ngIf="register.controls['password'].hasError('required')">password is <strong>required</strong></mat-error>
                    <mat-error *ngIf="register.controls['password'].hasError('minlength')">Please enter a strong password</mat-error>

                  </div>
               
                  <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Re Password" matInput formControlName="retype" aria-label="Password" aria-describedby="password-addon">
                    <mat-error *ngIf="register.controls['retype'].hasError('required')">password is <strong>required</strong></mat-error>
                    <mat-error *ngIf="register.controls['password'].hasError('minlength')">Please enter a strong password</mat-error>


                  </div>
                  <div>
                    <label>Image</label>
                    <input type="file" class="form-control" #file (change)="uploadFile(file.files)" matInput formControlName="imagepath">
                  </div>
                  <br>
                  <div class="form-check form-switch">
                    <input class="form-check-input" matInput formControlName="roleidfk" ng-value="1" name="Don" type="checkbox"  >
                    <label class="form-check-label"  for="rememberMe">I need donations</label>
                  </div>
                  <br>
                  <div class="form-check">
                    <input class="form-check-input" matInput formControlName="male"  value="false" type="checkbox"  >
                    <label class="form-check-label" name="Don" for="male">Male</label>
                    <br>
                    <input class="form-check-input" matInput formControlName="female"  value="true" type="checkbox"  >
                    <label class="form-check-label" name="Don" for="female">Female</label>
                  </div>
               
                  <div class="form-check form-check-info text-left">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked required>
                    <label class="form-check-label" for="flexCheckDefault">
                      I agree the <a href="javascript:;" class="text-dark font-weight-bolder">Terms and Conditions</a>
                    </label>
                  </div>
                  <br>
                  <div style="margin-left: 24px;">
                  <re-captcha (resolved)="resolved($event)" *ngIf="Hidden" siteKey="6LegG_UjAAAAACurZEvMz6XPNO0LPsptsATlp3nf" style="width: 100px;" [theme]="'light'" [type]="'image'" ></re-captcha>
                </div>
                <br>
                  <div class="text-center">
                    <button type="button" class="btn bg-gradient-dark w-100 my-4 mb-2" (click)="show()" [disabled]="!register.valid" >Sign up</button>
                  </div>
                  <p class="text-sm mt-3 mb-0">Already have an account? <a routerLink="/login" class="text-dark font-weight-bolder">Sign in</a></p>
                </form>
            </mat-dialog-content>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <footer class="footer py-5">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 mb-6 mx-auto text-center" style="justify-content: center;">
                  <a routerLink="" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                      Home
                  </a>
                  <a routerLink="/about" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                      About Us
                  </a>
                  <a routerLink="/contact" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                      Contact
                  </a>
                  <a routerLink="/causes" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                      Causes
                  </a>
                  
              </div>

          </div>
          <div class="row">
              <div class="col-8 mx-auto text-center mt-1">
                  <p class="mb-0 text-secondary">
                      Copyright ©
                      <script>
                          
                      </script> Charity Platform.
                  </p>
              </div>
          </div>
      </div>
  </footer>
    <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
  